.cards {
  margin-block-start: 30px;
  /* container for cards */
  & .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /* row-gap: 20px; */
    /* media for container */

    @media (width >= 480px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (width >= 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width >= 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-block-end: 20px;
  background-color: var(--white);
  border-radius: var(--rad4);
}
.card__img {
  width: 100%;
  min-height: 170px;
  background-color: var(--c96);
  border-radius: var(--rad4);
  /* media img */
  @media (width >= 992px) {
    max-width: 300px;
  }
}
.card__content {
  padding-inline: 20px 10px;
  /* header */
  & h2 {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  /* text */
  & p {
    padding-block-start: 15px;
    font-family: "Arial";
    font-size: 0.8125rem;
    line-height: 1.2;
    text-align: left;
    /* hyphens: auto; */
  }
}
