.gallery {
  margin-block-start: 20px;
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 140px) repeat(4, 0fr); */
  gap: 20px;

  /* media for gallery__items */
  @media (width >= 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (width >= 992px) {
    grid-template-columns: repeat(6, 1fr);
  }

  &.is-open .gallery__item {
    /* display: flex; */
    position: static;
    opacity: 1;
    visibility: visible;
    height: 140px;
  }
}

.gallery__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 140px;
  height: 140px;
  font-size: 1.125rem;
  color: var(--white);
  background-color: var(--c61);
  transition: opacity 0.5s ease-in-out;

  &:nth-child(n + 5) {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  /* media for gallery__item */
  @media (width >= 768px) {
    &:nth-child(n + 5) {
      position: static;
      opacity: 1;
      visibility: visible;
    }
    &:nth-child(n + 9) {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
  }

  @media (width >= 992px) {
    &:nth-child(n + 9) {
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }
}

.gallery__btn {
  margin-block-start: 20px;
  min-height: 34px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: transparent;

  & span {
    border-bottom: 0.16em solid transparent;
    transition: border-bottom-color var(--trans);
  }

  &:hover {
    background-color: var(--white);

    & span {
      border-bottom-color: var(--primary-color);
    }
  }

  /* media for gallery__btn */
  @media (width >= 992px) {
    display: none;
  }
}
