:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Arial";
  --font-size: 0.875rem;
  --line-height: 1.428;
  /* colors */
  --primary-color: #006c86;
  /* --secondary-color: #48556a; */
  --white: #fff;
  --black: #333333;
  --body-bg: #eee;
  --c5f: #5f5f5f;
  --cf7: #f7f7f7;
  --c96: #969696;
  --c61: #616161;
  --ca9: #a9a9a9;
  --c572786: #572786;
  --c91: #919191;
  /* settings */
  --padding: 20px;
  --container: 940px;
  --radius4: 4px;
  /* transition */
  --trans: 0.4s ease;
  --drop-shadow: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main-color);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 480px;
  min-height: 100dvh;
  font-family: var(--main-font), system-ui, -apple-system, "Segoe UI";
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-style: normal;
  font-weight: 400;
  color: var(--black);
  background-color: var(--body-bg);
  background-image: linear-gradient(rgba(220, 220, 220, 0.5), var(--body-bg), rgba(220, 220, 220, 0.5)),
    url("../../assets/images/backgroung/pattern.png");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* object-fit: cover; */
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
  border-radius: var(--radius4);
  &:focus-visible {
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
  }
}
