:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Arial";
  --font-size: 0.875rem;
  --line-height: 1.428;
  /* colors */
  --primary-color: #006c86;
  --secondary-color: #48556a;
  --white: #fff;
  --black: #333333;
  --body-bg: #f3f3f3;
  /* settings */
  --padding: 20px;
  --container: 940px;
  /* transition */
  --trans: 0.4s, ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main-color);
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  font-family: var(--main-font), system-ui, -apple-system, "Segoe UI";
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-style: normal;
  font-weight: 400;
  color: var(--black);
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* obf */
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

/* .container {
  margin: 0 auto;
  max-width: var(--container);
  padding: 0 var(--padding);
} */

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);

  border: 3px solid orange;
}

.img-demo {
  width: 100px;
  height: 100px;
}
