:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Arial", sans-serif;
  --font-size: 0.875rem;
  --line-height: 1.428;
  /* colors */
  --primary-color: #006c86;
  /* --secondary-color: #48556a; */
  --white: #fff;
  --black: #333333;
  --body-bg: #eee;
  --c5f: #5f5f5f;
  --cf7: #f7f7f7;
  --c96: #969696;
  --c61: #616161;
  --ca9: #a9a9a9;
  --c91: #919191;
  --cCC: #cccccc;
  --c6f: #6f6f6f;
  --c34: #343434;
  --c72: rgb(114, 114, 114);
  --c62: #626262;
  --c82: #828282;
  /* settings */
  --padding: 20px;
  --container: 940px;
  --rad4: 4px;
  /* transition */
  --trans: 0.4s ease;
  --drop-shadow: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main-color);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 480px;
  min-height: 100dvh;
  font-family: var(--main-font), system-ui, -apple-system, "Segoe UI", "Arial", sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-style: normal;
  font-weight: 400;
  color: var(--black);
  background-color: var(--body-bg);
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* object-fit: cover; */
}

button {
  display: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* prettier-ignore */
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, .2),
      var(--body-bg) 30%,
      var(--body-bg) 70%,
      rgba(255, 255, 255, .2)
    ),
    url('../../assets/images/background/pattern.png');
  background-repeat: no-repeat, repeat;
}

.wrapper > main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  width: 100%;
  height: auto;
  padding-inline: 20px;
  padding-block: 10px;
  color: var(--black);
  background-color: var(--white);
  border-radius: var(--rad4);
  border: none;
  transition: background var(--trans), color var(--trans);
  cursor: pointer;
  &:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
  &:active {
    transform: scale(0.98);
  }
}
