@import url("/assets/fonts/fonts.css");
@import url("parts/main.css");
@import url("parts/top-line.css");
@import url("parts/heading.css");
@import url("parts/nav.css");
@import url("parts/slider.css");
@import url("parts/cards.css");
@import url("parts/gallery.css");
